<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Angular Essay</h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Blog</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">3H1C © 2020</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>19 Đ.Nguyễn Hữu Thọ, Tân Hưng</span> Quận 7, Thành phố Hồ Chí Minh</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+84 699 966 696</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">51800781@student.tdtu.edu.vn</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the team</span>
      Đoàn kết chết hết chính là phương châm sống của nhóm.
    </p>

    <div class="footer-icons">
      <a href="https://www.facebook.com/NTH.Clone">
        <img class="fb-avatar"
          src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.0-9/p960x960/113595067_1487539108112683_7933529394783967358_o.jpg?_nc_cat=111&ccb=2&_nc_sid=85a577&_nc_ohc=IyeEaX0c_qIAX_4FAAx&_nc_ht=scontent.fsgn5-5.fna&tp=6&oh=b7974cbcfbd27eed7459c544cbf23cca&oe=5FE40DE4"
          alt="">
      </a>
      <a href="https://www.facebook.com/hieutravinhaxe">
        <img class="fb-avatar"
          src="https://scontent.fsgn8-1.fna.fbcdn.net/v/t1.0-9/s960x960/123948562_378799140094816_1927176520856871930_o.jpg?_nc_cat=108&ccb=2&_nc_sid=85a577&_nc_ohc=nsvCZZjUJn4AX8EOh9-&_nc_ht=scontent.fsgn8-1.fna&tp=7&oh=8490439c096d12411738509edd3ae20c&oe=5FE2CD79"
          alt="">
      </a>
      <a href="https://www.facebook.com/chientran6969">
        <img class="fb-avatar"
          src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/109066516_2653179554955593_8165812110776281125_n.jpg?_nc_cat=105&ccb=2&_nc_sid=85a577&_nc_ohc=GS6fG9PvzI8AX_qzUK-&_nc_ht=scontent.fvca1-1.fna&oh=d84777b6eed8554f3f345f161ebb0d2d&oe=5FE33BB3"
          alt="">
      </a>
      <a href="https://www.facebook.com/DeathLLu">
        <img class="fb-avatar"
          src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/87324661_1470074183154918_6101552315905343488_n.jpg?_nc_cat=104&ccb=2&_nc_sid=85a577&_nc_ohc=YuBV7Vxr8I4AX-Fko1J&_nc_ht=scontent.fvca1-2.fna&oh=83bdaf373abe528a545a21b8c21b90bb&oe=5FE20E17"
          alt="">
      </a>
    </div>

  </div>

</footer>
