<section class="budget-items-section">
  <div class="budget-items-container">
    <div class="incomes-column">
      <h1>Thu</h1>
      <app-budget-item-card [isIncome]="true"></app-budget-item-card>
      <app-budget-item-card [isIncome]="true"></app-budget-item-card>
    </div>
    <div class="expenses-column">
      <h1>Chi</h1>
      <app-budget-item-card [isIncome]="false"></app-budget-item-card>
      <app-budget-item-card [isIncome]="false"></app-budget-item-card>
    </div>
  </div>
</section>
