
.budget-item{
    border-radius: 5px;
    background-color:rgb(241,240,242);
    padding:10px;
    flex:1;
    margin-bottom: 20px;
    position:relative;
    transition: 0.2s ease-out;
}
.budget-item:hover{
    background-color:rgb(221, 221, 221)
}

.expense .description{
    color:rgb(234,69,28)
}

.expense .amount{
    background-color:#ffd6dd;
    color: #D94C03;
    border-radius: 3px;
    padding:5px
}


.income .description{
    color:rgb(8,176,135);
}

.income .amount{
    background-color:#B7F2D3;
    color:#39B798;
    border-radius: 3px;
    padding:5px
}

.close-btn{
    position: absolute;
    right:-0.6em;
    top:-0.8rem;
    transform: scale(0);
}
.budget-item:hover .close-btn{
    transform: scale(1);
}
.close-btn:hover {
    cursor: pointer;
}

.description:hover{
    cursor: pointer;
}
.amount:hover{
    cursor: pointer;
}