<form class="center" #itemform="ngForm" (ngSubmit)="onSubmit(itemform)">
  <div class="form-row">
    <div class="col-auto">
      <input required type="number" name ="amount" class="form-control" placeholder="Số tiền" [ngModel]="item.amount">
    </div>
    <div class="col-auto">
      <input required type="text" name="description" class="form-control" placeholder="Mô tả" [ngModel]="item.description">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" [disabled]="!itemform.valid">Thêm</button>
    </div>
  </div>

</form>
