<div>
  <form>
    <div class="container">
      <div>
        <h1>Chuyển giá trị tiền tệ</h1>
      </div>
      <div class="form-row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <input type="text" class="form-control" placeholder="Số tiền">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-5">
          <select class="form-control">
            <option selected>Chọn đơn vị</option>
            <option value="0">VND</option>
            <option value="1">USD</option>
            <option value="2">Euro</option>
          </select>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-2"><button class="btn btn-secondary">Sang</button></div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-5">
          <select class="form-control">
            <option selected>Chọn đơn vị</option>
            <option value="0">VND</option>
            <option value="1">USD</option>
            <option value="2">Euro</option>
          </select>
        </div>
        <div class="col-lg-1 col-md-1 col"><button class="btn btn-info">Đổi</button></div>
      </div>
      <div class="text-center" style="padding: 10px;">
        <div>
          <h2>5 USD = 100000 VND</h2>
        </div>
        <div>
          <p> 1 USD = 20000 VND</p>
        </div>
        <div>
          <p> 1 VND = 0.00005 USD</p>
        </div>
      </div>
    </div>
  </form>

</div>
